<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
<link rel="stylesheet" href="{% static 'sudokuDIP/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="upload-image">
            <div class="show-image">
                <img src="{% static 'sudokuDIP/empty-img.jpg' %}" alt="">
                {% if show_img == 1 %}
                    <img src="{% static 'sudokuDIP/image/image.jpg' %}" alt="">
                {% endif %}

            </div>
            <!-- <button class="upload-img-btn">Upload Image</button> -->
            <form method="post" class="upload-img-btn" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myfile" accept="image/*" required/>
                <!-- {{ form.as_p }} -->
                <button type="submit" value="Place order" name="submit">Upload</button>
              </form>
            <!-- <input type="file" name="image" class="upload-img-btn" accept="image/*"/> -->
        </div>
        <div class="image-process">
            <span>Ma trận SUDOKU</span>
        </div>
    </div>
    <div class="footer">
        <div class="name">
            <h4>Trần Đức Hưng - 51900747</h4>
            <h4>Vũ Trung Hậu - 51900738</h4>
            <h4>Nguyễn Hữu Hòa - 51900742</h4>
        </div>
    </div>
</body>
</html>